---
title: "table-xi"
tableInner: "floor"
---

= partial "Table-XI/partials/table-xi-header"

.tables-wrapper
  .row.row-of-tables
    .info-alert 
      =image_tag "info-icon.svg"
    - counter = 0
    - data.floorOne.rows.each do |t|
      .table.col-xs-2{class: "#{t.tblColor} #{'blank' if t.tblBlank == 'true'}" "#{'col-xs-offset-1' if counter % 5 == 0}" }
        - unless t.tblBlank
          .table-inner{class: "#{'circle' if t.tblRound == 'true'}"}
            .table-top
              .left
                %span #
                = t.tblNum
              .right
                = t.tblSeats
                = image_tag 'seats-people.png' 
            .table-time
              %h3 
                = t.tblTime         
            -if(t.tblReservation)
              %p.reservation
                = t.tblReservation
                Reservation
                = image_tag 'check.svg'
          .table-border{class: "#{t.tblColor} #{'circle' if t.tblRound == 'true'}"}
      - counter = counter +1

.slide-up-section
  = image_tag "hamburger.svg"


