%nav.main-nav
  .nav-inner.container
    .name-of-site
      = link_to  "/index.html" do
        %h2.nav-name
          Maria Faulisi 
          %span.title 
            | UX Designer
          %span.phonetics
            Fah-lee-see

    .navigation
      .nav-link.mobile-nav-trigger
        = link_to "Menu", "#"
      .mobile-nav
        .mobile-nav-inner
          .nav-link{class: "#{'active' if current_page.url == '/collaborate.html'}"}
            = link_to "collaborate.biz", "/collaborate.html", relative: true
          .nav-link{class: "#{'active' if current_page.url == '/shedwool.html'}"}
            = link_to "shedwool", "/shedwool.html", relative: true
          .nav-link{class: "#{'active' if current_page.url == '/simple-slice.html'}"}
            = link_to "simple slice", "/simple-slice.html", relative: true
          .nav-link{class: "#{'active' if current_page.url == '/contact.html'}"}
            = link_to "contact", "/contact.html", relative: true        

      .link-container
        %ul.nav-link-wrapper
          %li.dropdown.nav-link
            %a#dropdownMenuLink.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
              Projects
            %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
              %li
                = link_to "collaborate.biz", "/collaborate.html", relative: true
              %li
                = link_to "shedwool", "/shedwool.html", relative: true
              %li
                = link_to "simple slice", "/simple-slice.html", relative: true
          %li.nav-link{class: "#{'active' if current_page.url == '/contact.html'}"}
            = link_to "contact", "/contact.html", relative: true
            